// Dark Mode

$primaryColor_D: #002651;
// $primaryColor_D: #3794ff;
$SecondayColor_D: #052E5B;
$NavBarColor_D: #05356A;
$textColor_D: #FFFFFF;
$MenuColor_D: #FF304F;
$DarkMode_D: #FFCA42;




//White Mode 

$primaryColor_W: #FFF4E3;
$SecondayColor_W: #F5D8A9;
$NavBarColor_W: #FFD594;
$textColor_W: #5D5D5A;
$MenuColor_W: #FFA45C;
$DarkMode_W: #FFCA42;