@import "./Variable";


#Contact {
    padding: 20px 5%;
    text-align: center;
    background-color: $primaryColor_D;

    h1 {
        font-size: 32px;
        font-weight: 700;
        color: $textColor_D;
    }

    p {
        font-size: 13px;
        font-weight: 700;
        color: $textColor_D;
        margin: 10px 15px 0px;
    }
}

@media only screen and (min-width: 900px) {

    #Contact {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

