@import "./Variable";


footer {
    padding: 50px 20%; 
    height: 114px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1, h2 {
        font-size: 12px;
        color: #fff;
    }

    span {
        color: $MenuColor_D;
    }

}