@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import "./Variable";


#Home {
    position: relative;
    padding: 60px 5% ;
    text-align: center;
    background-color: $primaryColor_D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);

    .profil {
        height: 20rem;
        border: solid 4px;
        border-color: #fff;
        border-radius: 50%;
    }

    .bio {
        width: 286px;
        background-color: $SecondayColor_D;
        border-radius: 5px;
        margin-top: 36px;

        h1 {
            margin: 11px 0px;
            height: 30px;
            text-align: center;
            font-size: 50px;
            overflow: visible;
            font-size: 24px;
            color: $textColor_D;
        }
    
        p {
            color: #E3F6F5;
            font-size: 10px;
            margin-bottom: 13px;
        }

    }


    button {
        margin-top: 20px;
        padding: 15px;
        background-color: unset;
        border: solid 2px;
        color: #fff;
        border-radius: 8px;
        border-color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }

    .social {
        position: absolute;
        bottom: 50px;
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
            color: $MenuColor_D;
        }
    }
}

@media only screen and (min-width: 900px) {


    #Home {

        position: relative;
        height: 70vh;

        .social {
            position: absolute;
            left: 0;
            top: 40%;
            bottom: 40%;
            display: flex;
            flex-direction: column;
        }
    }
}