#Project {
    height: 50vh;
    background-color: #2C2E3E;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 5%;

    h1 {
        color: #EE2B47;
        font-family: 'Syne Mono', monospace;
        font-size: 30px;
    }
}